<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Capacity:</b>
  <%= @location.capacity %>
</p>

<p>
  <%= get_seats_number(1) %> seats has been taken! <br>
</p>

<div id="seats">
  <%= render :partial=>"seat_list", :locals=>{:seats=>@location.seats} %>
</div>

<script>
    $(document).ready(function(){
        setInterval(updateSeats,5000);
    });
    function updateSeats(){
        $.ajax({
            url:  "/locations/<%= @location.id %>/seats",
            type: "GET",
        }).done(function(data){
                    $("#seats").html(data);
                });
    }
</script>

<%= render :partial=>"new_seat", :locals=>{:seat=>Seat.new(:location_id=>@location.id)} %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
