<!DOCTYPE html>
<html>
<head>
  <title>Location: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
<p style="color: green" id="notice"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>